<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/assets :: header"></head>

<body>

<nav th:replace="fragments/navs :: navbar"></nav>

<div class="container mt-3">

    <h3>Transactions</h3>

    <form th:action="@{/transaction/all}" name="search" class="form-inline" method="get">

        <button class="btn btn-primary mr-sm-1 mb-sm-2" type="submit">Search</button>

        <div class="form-group mr-sm-1 mb-2">
            <label for="cash" class="sr-only">amount</label>
            <input type="number" class="form-control" id="cash" name="cash">
        </div>
        <div class="form-group mr-sm-1 mb-2">
            <label for="senderCash" class="sr-only">sender cash</label>
            <input type="number" class="form-control" id="senderCash" name="senderCash">
        </div>
        <div class="form-group mr-sm-1 mb-2">
            <label for="recipientCash" class="sr-only">recipient cash</label>
            <input type="number" class="form-control" id="recipientCash" name="recipientCash">
        </div>
        <div class="form-group mr-sm-1 mb-2">
            <label class="sr-only" for="invoiceSender">from</label>
            <select class="custom-select" name="invoiceSender" id="invoiceSender">
                <option value="" selected>from</option>
                <option th:each="id : ${fromId}" th:value="${id}" th:text="${id}"></option>
            </select>
        </div>
        <div class="form-group mr-sm-1 mb-2">
            <label class="sr-only" for="invoiceRecipient">to</label>
            <select class="custom-select" name="invoiceRecipient" id="invoiceRecipient">
                <option value="" selected>to</option>
                <option th:each="id : ${toId}" th:value="${id}" th:text="${id}"></option>
            </select>
        </div>
        <div class="form-group mb-2">
            <label class="sr-only" for="tstz">date</label>
            <input type="datetime-local" class="form-control" id="tstz" name="tstz">
        </div>

    </form>


    <table th:if="${!transactions.isEmpty()}" class="table table-bordered table-hover">
        <caption>Transaction list</caption>
        <thead>
            <tr>
                <td scope="col">id</td>
                <td scope="col">amount</td>
                <td scope="col">sender cash</td>
                <td scope="col">recipient cash</td>
                <td scope="col">from number</td>
                <td scope="col">to number</td>
                <td scope="col">time</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="t : ${transactions}" th:object="${t}">
                <th scope="row" th:text="*{id}"></th>
                <td th:text="*{cash}"></td>
                <td th:text="*{senderCash}"></td>
                <td th:text="*{recipientCash}"></td>
                <td th:text="*{invoiceSender.id}"></td>
                <td th:text="*{invoiceRecipient.id}"></td>
                <td th:text="*{tstz}"></td>
            </tr>
        </tbody>
    </table>

    <div th:if="${transactions.isEmpty()}" class="alert alert-warning alert-dismissible fade show" role="alert">
        No transactions.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</div>

<div th:replace="fragments/assets :: script"></div>

</body>

</html>
