<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/assets :: header"></head>

<body>

<nav th:replace="fragments/navs :: navbar"></nav>

<div class="row mx-5 mt-5 bg-light p-5">

    <div class="container">

        <form th:action="@{/transaction/all}" name="search" method="get">

            <div class="row">
                <div class="col col-6">
                    <div class="form-group mr-sm-1 mb-2">
                        <label for="invoiceSender">From</label>
                        <select class="custom-select" name="invoiceSender" id="invoiceSender">
                            <option value="" selected>from</option>
                            <option th:each="id : ${fromId}" th:value="${id}" th:text="${id}"></option>
                        </select>
                    </div>
                </div>
                <div class="col col-6">
                    <div class="form-group mr-sm-1 mb-2">
                        <label for="invoiceRecipient">To</label>
                        <select class="custom-select" name="invoiceRecipient" id="invoiceRecipient">
                            <option value="" selected>to</option>
                            <option th:each="id : ${toId}" th:value="${id}" th:text="${id}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-6">
                    <div class="form-group mb-2">
                        <label for="dateOn">Date On</label>
                        <input type="date" class="form-control" id="dateOn" name="dateOn" th:value="${dateOn}">
                    </div>
                </div>
                <div class="col col-6">
                    <div class="form-group mb-2">
                        <label for="dateOff">Date Off</label>
                        <input type="date" class="form-control" id="dateOff" name="dateOff" th:value="${dateOff}">
                    </div>
                </div>
            </div>

            <button class="btn btn-primary mr-sm-1 mb-sm-2" type="submit">Search</button>

        </form>

        <hr/>

        <div th:if="${transactions.isEmpty()}" class="alert alert-danger alert-dismissible fade show" role="alert">
            No transactions.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    </div>

    <div class="container-fluid">
        <h3>Transactions</h3>

        <table th:if="${!transactions.isEmpty()}" class="table table-bordered table-hover">
            <caption>Transaction list</caption>
            <thead>
            <tr>
                <td scope="col">id</td>
                <td scope="col">amount</td>
                <td scope="col">sender cash</td>
                <td scope="col">recipient cash</td>
                <td scope="col">from number</td>
                <td scope="col">to number</td>
                <td scope="col">time</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t : ${transactions}" th:object="${t}">
                <th scope="row" th:text="*{id}"></th>
                <td th:text="*{cash}"></td>
                <td th:text="*{senderCash}"></td>
                <td th:text="*{recipientCash}"></td>
                <td th:text="*{invoiceSender.id}"></td>
                <td th:text="*{invoiceRecipient.id}"></td>
                <td th:text="*{tstz}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<div th:replace="fragments/assets :: script"></div>

</body>

</html>
