.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/materials/db_schema.dia.autosave

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.directory

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Docker file
.dockerignore
docker-compose.yml
Dockerfile