<form th:fragment="login" th:action="@{/login}" method="post">
    <div th:if="${param.error}" class="alert alert-warning alert-dismissible fade show" role="alert">
        Invalid username and password or locked user.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div th:if="${param.logout}" class="alert alert-warning alert-dismissible fade show" role="alert">
        You have been sign out.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Username">
        <small id="usernameHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>&nbsp;or&nbsp;<a th:href="@{/registration}">Registration</a>
</form>

<form th:fragment="registration" th:action="@{/registration}" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="Username">
    </div>
    <div class="form-row">
        <div class="form-group col-6">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group col-6">
            <label for="password2">Confirm password</label>
            <input type="password" name="password2" class="form-control" id="password2" placeholder="Confirm password">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-4">
            <label for="firstName">First name</label>
            <input class="form-control" type="text" name="firstName" id="firstName" placeholder="First name">
        </div>
        <div class="form-group col-4">
            <label for="lastName">Last name</label>
            <input class="form-control" type="text" name="lastName" id="lastName" placeholder="Last name">
        </div>
        <div class="form-group col-4">
            <label for="secondName">First name</label>
            <input class="form-control" type="text" name="secondName" id="secondName" placeholder="Second name">
        </div>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" name="address" class="form-control" id="address" placeholder="Address">
    </div>
    <button type="submit" class="btn btn-primary">registration</button>
</form>

<form th:fragment="addInvoice" th:action="@{/invoice}" class="form-inline"  method="post">
    <div class="form-group" hidden>
        <label for="client">Client</label>
        <input type="text" name="client" id="client" th:value="${clientId}" readonly>
    </div>
    <div class="form-group" hidden>
        <label for="number">Number</label>
        <input type="text" name="number" id="number" value="10000000000000000000" readonly>
    </div>
    <div class="form-group" hidden>
        <label for="cash">Number</label>
        <input type="text" name="cash" id="cash" value="0" readonly>
    </div>


    <div class="form-group mx-sm-3 mb-2">
        <label class="sr-only" for="order1">1 order</label>
        <select class="custom-select" name="order1" id="order1">
            <option value="40702" selected>(юридический) 40702</option>
            <option value="42605">(частный) 42605</option>
        </select>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label class="sr-only" for="order2">2 order</label>
        <select class="custom-select" name="order2" id="order2">
            <option value="643" selected>(RUB) 643</option>
            <option value="978">(EUR) 978</option>
            <option value="849">(USD) 849</option>
            <option value=""></option>
        </select>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label class="sr-only" for="order3">3 order</label>
        <input type="text" class="form-control" id="order3" name="order3" th:value="${rn3}" readonly maxlength="1" minlength="1" size="1">
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label class="sr-only" for="order4">4 order</label>
        <input type="text" class="form-control" id="order4" name="order4" value="0000" readonly maxlength="4" minlength="4" size="4">
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="order5" class="sr-only">5 order</label>
        <input type="text" class="form-control" id="order5" name="order5" th:value="${rn5}" maxlength="7" minlength="7" size="7">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add</button>
</form>
