<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head th:replace="fragments/assets :: header"></head>

<body>

    <nav th:replace="fragments/navs :: navbar"></nav>

    <div class="container mt-3">

        <table th:if="${!users.isEmpty()}" class="table table-bordered table-hover">
            <caption>User list</caption>
            <thead>
            <tr>
                <td scope="col">id</td>
                <td scope="col">Username</td>
                <td scope="col">Last name</td>
                <td scope="col">First name</td>
                <td scope="col">Second name</td>
                <td scope="col">Address</td>
                <td scope="col">Active</td>
                <td scope="col">Roles</td>
                <td scope="col">Edit</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u : ${users}" th:object="${u}">
                <th scope="row" th:text="*{id}"></th>
                <td><a th:href="@{'/invoice/' + *{id}}" th:text="*{username}"></a></td>
                <td th:text="*{lastName}"></td>
                <td th:text="*{firstName}"></td>
                <td th:text="*{secondName}"></td>
                <td th:text="*{address}"></td>
                <td th:text="*{active}"></td>
                <td><span th:each="r : *{roles}" th:text="${r} + ' '"></span></td>
                <td><a th:href="@{'/user/' + *{id} + '/profile'}">Edit</a></td>
            </tr>
            </tbody>
        </table>

        <div th:if="${users.isEmpty()}" class="alert alert-warning alert-dismissible fade show" role="alert">
            Not users!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <hr/>

        <form th:replace="fragments/forms :: registration"></form>

    </div>

    <div th:replace="fragments/assets :: script"></div>

</body>

</html>
